/* CSS Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  width: 100%;
}

/* HEADER */
.header {
  border-bottom: 1px solid rgb(77, 73, 73);
  background-color: rgba(0, 0, 0, .5);
  padding: 24px;
  position: fixed;
  transition: .3s linear;
  width: 100%;
  z-index: 9999;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1280px;
}

.header-logo {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
}

.logo {
  color: #fff;
  font-size: 32px;
} 

.dot {
  color: #ed64a6;
  font-weight: bold;
  margin-left: -6px;
}

.header-menu a {
  color: gray;
  padding: 0 8px;
  text-decoration: none;
}

.header-menu a:hover {
  color: #ed64a6;
}

/* MAIN */
.home {
  background: url(./images/background_image.jpeg) no-repeat center;
  background-color: rgb(36, 34, 34);
  background-size: cover;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1280px;
  min-height: 100vh;
  padding: 32px;
  text-align: center;
}

.section .profile {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.section ul li {
  background-color: whitesmoke;
  font-family: 'Grape Nuts', cursive;
  font-size: 2rem;
  list-style: none;
  margin-bottom: 4px;
  padding: 4px;
  transition: 0.3s ease;
}

.section ul li:hover {
  transform: translateX(15px);
}
/* MAIN */
.profile .profile-subtitle {
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  letter-spacing: 8px;
}

.quem-sou-eu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}

.quem-sou-eu h2, .section h3 {
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-bottom: 32px;
}

.quem-sou-eu p {
  line-height: 32px;
  margin-bottom: 24px;
}

.green a {
  color: green;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

.quem-sou-eu strong a {
  color: #2fc18c;
  cursor: pointer;
  text-decoration: none;
}

.main-content div > img {
  border: 3px solid #761f49;
  border-radius: 50%;
  outline: 2px solid white;
  width: 120px;
}

.greeting {
  font-size: 1.5rem;
  margin-bottom: 64px;
}

.main-content h1 {
  color: rgb(168, 167, 167);
  font-size: 1rem;
  margin: 16px 0;
}

.main .icons {
  margin-top: 24px;
}
.icon {
  padding: 0 8px;
  text-decoration: none;
}

.buttons a {
  border: 2px solid #ed64a6;
  border-radius: 6px;
  color: #ed64a6;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 48px 24px;
  padding: 14px 0;
  text-decoration: none;
  transition: .2s linear;
  width: 180px;
}

.buttons .outline:hover
{
  background-color: #ed64a6;
  color: #fff;
}

.buttons .solid
{
  background-color: #ed64a6;
  color: #fff;
}

.buttons .solid:hover
{
  background: transparent;
  color: #ed64a6;
}

/* FOOTER */
.footer {
  background-color: #f7fafc;
  border-top: 1px solid gray;
}

.footer-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1280px;
  padding: 16px;
  text-align: center;
}

.footer-content .item a {
  display: inline-block;
}

.footer-content .item {
  color: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 4px;
  height: 28px;
}

/* EFEITOS */
.shrinking {
  background-color: #f7fafc;
  padding: 12px;
}

.shrinking span {
  color: #000;
}

.shrinking .dot {
  color: #ed64a6;
}

.shrinking a {
  color: #ed64a6;
}

.shrinking a:hover {
  color: #000;
  transition: .3s linear;
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-4-16 17:20:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 1080px) {
  .main-content .profile-subtitle {
    padding-top: 5rem;
  }
  .main-content .profile-subtitle {
    font-size: 3rem;
  }
  .header-content {
    justify-content: center;
  }
  .header-menu {
    display: none;
  }
  .section {
    min-height: 60vh;
  }
}

@media (max-width: 720px) {
  .main-content .profile-subtitle {
    font-size: 2rem;
    padding-top: 5rem;
  }
  .header-content {
    justify-content: center;
  }
  .header-menu {
    display: none;
  }
  .section {
    min-height: 60vh;
  }
  .section h3 {
    font-size: 2rem;
    padding-top: 5rem;
  }
  .section .buttons a {
    margin: 12px;
  }
  .footer-content {
    margin-top: 32px;
  }
  .footer-content .item {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 120px;
  }
  .footer-content .item:nth-child(n + 1) {
    border-top: 1px solid gray;
  }
}
